<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/imgareaselect-default.css') }}" />

</head>
<body>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.imgareaselect.pack.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
            $('#ladybug_ant').imgAreaSelect({ handles: true });
            });    
        </script>
    <img id="ladybug_ant" src=" {{filename}}">

</body>
</html>